<div class="text-center container">
  <h1>New quiz</h1>

  <%= render "form", quiz: @quiz %>

  <br>
</div>

<footer class="hd footer mt-auto py-3 text-center">
  <div class="container">
     <%= button_to "Back to quizzes", quizzes_path, :method=>:get  %>
  </div>
</footer>