<% @course=Course.find(@quiz.course_id) %>

<% if @quiz.completed %>

  <%= render partial: 'quizzes/partials/finishedQuiz' %>

<% else %>
  
  <div class="container text-center">
    <h1> Take Quiz </h1>
    <%= render partial: 'quizzes/partials/activeQuiz' %>
  </div>

<% end %>