<div class="text-center container">
  <h1>Editing Student</h1>

  <%= render "form", course: @student %>
</div>

<footer class="hd footer mt-auto py-3 text-center">
  <div class="container">
    <div class="row gx-2">
      <div class="col">
        <div class="row p-2 pt-0">
          <%= button_to "Back to Student Profile", @student, :method=>:get  %>
        </div>
      </div>
      <div class="col">
        <div class="row p-2 pt-0">
            <%= button_to "Back to Student List", students_path, :method => :get %>
        </div>
      </div>        
    </div>
  </div>
</footer>