<div class="text-center container">
  <h1>New student</h1>

  <%= render "form", student: @student %>

  <br>
</div>

<footer class="hd footer mt-auto py-3 text-center">
  <div class="container">
    <span>
      <button class="btn btn-light p-2"><%= link_to "Back to students", students_path %></button>
    </span>
  </div>
</footer>