development:
  adapter: postgresql
  encoding: unicode
  database: courses
  pool: 5
  username:
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: courses
  pool: 5
  username:
  password:
