<div id="<%= dom_id course %>">
  <p>
    <strong>Course number:</strong>
    <%= course.course_number %>
  </p>

  <p>
    <strong>Sections:</strong>
    <%= course.sections %>
  </p>

  <p>
    <strong>Number of students:</strong>
    <%= course.number_of_students %>
  </p>

</div>
