<div class="container text-center">
  <h1>Edit Course Section</h1>

  <br>

<div class="container">
  <div class="row gx-2">
    <div class="col">
      <div class="row p-2 pt-0">
        <%= button_to "Show this course", @course, :method => :get %>
      </div>
    </div>
    <div class="col">
      <div class="row p-2 pt-0">
        <%= button_to "Back to courses", courses_path, :method=>:get  %>
      </div>
    </div>       
  </div>
</div>
<%= render "form", course: @course %>

</div>