<div class="container text-center">

  <h1>Edit Course</h1>

<%= render "form", course: @course %>

  <br>

  <div class="flex-container" style="justify-content:space-evenly;">
    <button class="btn btn-outline-dark m-2"><%= link_to "Show this course", @course %></button>
    <button class="btn btn-outline-dark m-2"><%= link_to "Back to courses", courses_path %></button>
  </div>

  TODO - Add upload functionality and interface

</div>