<%= form_with(url: '/posts', method: :post) do |form| %>

  <div style = "text-align: center">
    <strong class = "message">Drag and Drop OR Click "Save" to Upload</strong><br>
    <!--if the file uploaded, send message-->
    <% if @post %>
      <p style="color: green"><%= notice %>File Uploaded</p>
    <% end %>
    
    <!--implement dropzone for submitting zip files-->
      <%= form.file_field :file, accept: '.zip', multiple: false, class: "dropzone" %>
  </div>

  <div style= "text-align: center">
  <!--call create function from posts_controller on submit-->
    <%= form.submit "Save", class: "btn btn-secondary" %>
  </div>
<% end %>