<div class="container text-center">
  <div class="row gx-5">
    <div class="col">
      <div class="row">
        <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="currentColor" class="bi bi-person rounded-circle" viewBox="0 0 16 16">
          <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
        </svg>
      </div>
    </div>
    <div class="col">
      <div class="bg-light border rounded-3">
        TODO - add radios for 4 random students
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            Default radio
          </label>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="bg-light border rounded-3">
        TODO - add score tracker
      </div>
    </div>
  </div>
</div>


<footer class="hd footer mt-auto py-3 text-center">
  <div class="container">
    <span>
      <button class="btn btn-light p-2">Return to course profile</button>
    </span>
  </div>
</footer>